// AntaresOS · layout "flutter" — editor + run + devices

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left  "{mode}#[bg=#000000] {tabs}"
                format_right "#[bg=#000000]{command_git} #[fg=#7cffa0,bg=#000000]󰥔 {datetime}"
                format_space "#[bg=#000000]"
                border_enabled "false"

                mode_normal  "#[bg=#00ff41,fg=#000000,bold] NORMAL "
                mode_locked  "#[bg=#ff9f45,fg=#000000,bold] LOCKED "
                mode_pane    "#[bg=#35c9ff,fg=#000000,bold] PANE "
                mode_tab     "#[bg=#48ffe0,fg=#000000,bold] TAB "
                mode_resize  "#[bg=#f5d76e,fg=#000000,bold] RESIZE "

                tab_normal   "#[fg=#585b70,bg=#000000] {name} "
                tab_active   "#[fg=#00ff41,bg=#000000,bold] {name} "

                command_git_command  "git rev-parse --abbrev-ref HEAD"
                command_git_format   "#[fg=#48ffe0,bg=#000000] {stdout}"
                command_git_interval "5"

                datetime        "#[fg=#7cffa0,bg=#000000]{format}"
                datetime_format "%H:%M"
            }
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="flutter" focus=true {
        pane split_direction="vertical" {
            pane size="65%" name="editor" {
                command "nvim"
                args "."
            }
            pane split_direction="horizontal" size="35%" {
                pane name="run" {
                    command "zsh"
                    args "-ic" "echo '▶  flutter run  (Enter para iniciar)'; exec zsh"
                }
                pane name="devices" size="40%" {
                    command "zsh"
                    args "-ic" "flutter devices; exec zsh"
                }
            }
        }
    }
}
