// AntaresOS · Zellij — Matrix

theme "antares-matrix"
default_layout "compact"
default_shell "zsh"

pane_frames true
mouse_mode true
copy_on_select true
scroll_buffer_size 100000

session_serialization true
serialize_pane_viewport true

themes {
    antares-matrix {
        bg "#14371f"
        fg "#00ff41"
        red "#ff4d4d"
        green "#00ff41"
        blue "#35c9ff"
        yellow "#f5d76e"
        magenta "#ff6fd8"
        orange "#ff9f45"
        cyan "#48ffe0"
        black "#000000"
        white "#c8ffd4"
    }
}
